* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: url(./assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

header {
  padding-top: 32px;
  height: calc(120px + 32px);
}

header div {
  display: flex;
  width: 120px;
  margin: auto;
  padding: 4px;
  border-radius: 50%;

  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );

  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

main {
  max-width: 580px;
  width: 90%;
  margin: 32px auto;

  display: grid;
  gap: 24px;
}

section {
  padding-top: 4px;
  border-radius: 8px;

  color: #fff;
  background-image: linear-gradient(
    90deg,
    #9572fc 0%,
    #43e7ad 50.52%,
    #e2d45c 100%
  );
}

section div {
  background-color: #2a2634;
  padding: 32px;
  padding-top: 24px;
  border-radius: 8px;
}

section h2 {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.47px;
}

section p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.18px;
  color: #a1a1aa;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;
}

section ul li {
  transition: transform 0.3s;
}

section ul li:hover {
  transform: scale(1.1);
}

.game-list img {
  width: 90px;
  border-radius: 8px;
}

.channel-list img {
  width: 70px;
  border-radius: 50%;
  border: 1px solid #443e54;
}

header div {
  animation: fromTop 0.7s 0.2s backwards;
}

main section {
  animation: fromBottom 0.7s backwards;
}
main section:nth-child(1) {
  animation-delay: 0;
}
main section:nth-child(2) {
  animation-delay: 0.3s;
}
main section:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
